.context-menu {
    position: absolute;
    z-index: 1000;
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 10px;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    transition: opacity .3s ease-in-out, display .3s allow-discrete;
}

.context-menu--fade-in {
    opacity: 1;
    pointer-events: auto;

    @starting-style {
        opacity: 0;
    }
}

.context-menu--fade-out {
    opacity: 0;
    display: none;
    pointer-events: none;
}

.context-menu__option, .context-menu__option-custom-color {
    appearance: none;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.context-menu__option:checked, .context-menu__option-custom-color--checked {
    border: 3px solid black;
    border-radius: 50px;
}

.context-menu__option-custom-color {
    padding: 0;
    
    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }
    
    &::-webkit-color-swatch {
        border: 0;
    }
    
    &::-moz-color-swatch {
        border: 0;
    }
}